article{
  border-bottom: 1px solid #bababa;
  padding-bottom: 40px;
  margin-bottom: 40px;
  header{
    time{
      font-family: 'robotolight';
      color: #ababab;
    }
    h1,
    h2{
      margin-bottom: 5px;
    }
    h1,
    h2 a,
    h3 a{
      margin-top: 9px;
      font: 28px/38px 'robotomedium';
      color: #4e4e4e;
      text-decoration: none;
    }
    h2 a,
    h3 a{
      &:hover{
        text-decoration: underline;
      }
    }
    .tags{
      a{
        font-family: 'robotoregular';
        color: #ababab;
        margin-right: 15px;
        white-space: nowrap;
        text-decoration: none;
        display: inline-block;
        &:hover{
          text-decoration: underline;
          color: #371818;
        }
      }
    }
  }
  .content{
    color: #666;
    margin-bottom: 24px;
    img{
      width: 65%;
      @media screen and (max-width: 1280px) {
        width: 100%;
      }
    }
    p{
      margin-bottom: 22px;
      a {
        color: #32b7e0;
      }
    }
  }
  footer{
    .info{
      border: 1px solid #adadad;
      width: 110px;
      margin-top: 30px;
      padding: 0 10px;
      .comments{
        padding-left: 25px;
        display: inline-block;
        background: url("../img/icons.png") 0 -188px no-repeat;
        text-decoration: none;
        color: #ababab;
        margin-right: 20px;
      }
      .votes{
        color: #ababab;
        display: inline-block;
        span{
          display: inline-block;
          width: 15px;
          height: 20px;
          cursor: pointer;
          background: url("../img/icons.png") 0 -234px no-repeat;
          &.dislike{
            background-position: 0 -260px;
          }
        }
      }
    }
  }
  &.popular{
    padding-bottom: 23px;
    margin-bottom: 23px;
    header{
      margin-bottom: 0;
      h3 a{
        font-size: 16px;
        line-height: 22px;
      }
    }
    &:last-child{
      border-bottom: none;
    }
  }
  &.single{
    header{
      margin-bottom: 22px;
      h1{
        font: 32px/42px 'robotoregular';
      }
    }
    .content{
      font-size: 16px;
      line-height: 23px;
      img{
        width: 100%;
      }
    }
    footer{
      .shared{
        div{
          font: 18px/30px 'robotolight';
          color: #999;
          margin-bottom: 20px;
        }
        .flex {
          margin-bottom: 10px;
        }
        .social{
          flex: 2;
          a{
            display: inline-block;
            width: 45px;
            height: 45px;
            background: url("../img/icons.png") 14px -399px no-repeat;
            border: 1px solid #c0c0c0;
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            &:nth-child(2){
              background-position: 14px -327px;
            }
            &:nth-child(3){
              background-position: 14px -362px;
            }
            &:nth-child(4){
              background-position: 14px -461px;
            }
            &:nth-child(5){
              background-position: 14px -494px;
            }
          }
        }
        .favourite{
          flex: 1;
          height: 45px;
          border: 1px solid #c0c0c0;
          vertical-align: middle;
          cursor: pointer;
          background: transparent;
          padding: 0 25px;
          font: 14px/30px 'robotoregular';
          color: #ababab;
        }
      }
    }
  }
}