*{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-sizing: content-box;
}
html, body{
  height: 100%;
  background: #fff;
}
html {
  overflow: hidden;
}
body{
  font: 14px/23px 'robotoregular';
  .layout{
    max-width: 1367px;
    min-height: 100%;
    position: relative;
    .ma;
    aside{
      position: absolute;
      top: 0;
      right: 0;
      width: 344px;
      padding-top: 25px;
      @media screen and (max-width: 1024px) {
        top: auto;
        bottom: auto;
        right: 0;
        left: 0;
        margin: 0 60px 0 224px;
        padding-left: 32px;
        text-align: left;
        width: auto;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: auto;
        position: static;
      }
      .info {
        width: 344px;
        height: 208px;
        background: #adadad;
        margin-bottom: 8px;
      }
      .tags-list {
        padding-bottom: 20px;
        .aside-tags {
          a {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            margin-top: 0;
            margin-right: 15px;
            margin-bottom: 8px;
            margin-left: 0;
            color: #444;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: #371818;
            }
            img {
              float: left;
              margin-right: 8px;
            }
            span {
              display: inline-block;
            }
          }
        }
        @media screen and (max-width: 768px) {
          border-right: 0;
          border-left: 0;
          padding-left: 0;
          padding-right: 0;
          .aside-title {
            text-align: center;
          }
        }
      }
    }
    main{
      display: block;
      position: relative;
      margin-top: 0;
      margin-right: 344px;
      margin-bottom: 0;
      margin-left: 224px;
      padding: 25px 32px 50px;
      @media screen and (max-width: 1024px) {
        margin-right: 60px;
      }
      @media screen and (max-width: 768px) {
        margin: 0;
        padding-top: 60px;
      }
    }
  }
  overflow: auto;
}
ul{
  list-style: none;
}