.back-button {
	display: inline-block;
	width: 46px;
	height: 46px;
	background: url("../img/icons.png") 14px -292px no-repeat;
	border: 1px solid #c0c0c0;
	vertical-align: middle;
	margin-right: 24px;
	cursor: pointer;
}
.breadcrumbs {
	margin-bottom: 50px;
	display: inline-block;
	color: #ababab;
	max-width: 80%;
	vertical-align: top;
	a {
		color: #ababab;
	}
	span {
		color: #2495bc;
	}
}
