.content-title {
  font: 22px/42px 'robotoregular';
}
.comments-list {
	margin-bottom: 55px;
	.comment {
		position: relative;
		padding: 30px 0;
		border-bottom: 1px solid #ededed;
		.comment-author {
			font: 22px/30px 'robotomedium';
			color: #444;
		}
		.comment-published-date {
			font: 14px/30px 'robotoregular';
			color: #ababab;
		}
		.reply-button {
			width: 15px;
			height: 11px;
			position: absolute;
			top: 55px;
			right: 0px;
			background: url("../img/icons.png") 0px -449px no-repeat;
			cursor: pointer;
		}
		.comment-content {
			font: 16px/23px 'robotoregular';
			color: #888;
		}
	}
	.comment.comment-reply-1 {
		margin-left: 50px;
		.comment-author {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
		.comment-published-date {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
		.comment-content {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
	}
	.comment.comment-reply-2 {
		margin-left: 50px;
		margin-left: 100px;
		.comment-author {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
		.comment-published-date {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
		.comment-content {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
	}
	.comment.comment-reply-3 {
		margin-left: 50px;
		margin-left: 150px;
		.comment-author {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
		.comment-published-date {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
		.comment-content {
			padding-left: 27px;
			border-left: 3px solid #ededed;
		}
	}
}
.add-comment {
	margin-bottom: 40px !important;
	textarea {
		width: 430px;
		height: 246px;
		border: 1px solid #c0c0c0;
		padding: 18px 16px;
		font: 14px/30px 'robotoregular';
		color: #ababab;
		resize: vertical;
	}
}
input {
	height: 38px;
	border: 1px solid #3c3d3f;
	padding: 0px 15px;
	font: 14px/38px 'robotolight';
	margin-bottom: 20px;
}
