@font-face {
    font-family: 'robotolight';
    src: url('./fonts/roboto-light.eot');
    src: url('./fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-light.woff2') format('woff2'),
         url('./fonts/roboto-light.woff') format('woff'),
         url('./fonts/roboto-light.ttf') format('truetype'),
         url('./fonts/roboto-light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('./fonts/roboto-medium.eot');
    src: url('./fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-medium.woff2') format('woff2'),
         url('./fonts/roboto-medium.woff') format('woff'),
         url('./fonts/roboto-medium.ttf') format('truetype'),
         url('./fonts/roboto-medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular.eot');
    src: url('./fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roboto-regular.woff2') format('woff2'),
         url('./fonts/roboto-regular.woff') format('woff'),
         url('./fonts/roboto-regular.ttf') format('truetype'),
         url('./fonts/roboto-regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}