.cf{
  &:before,
  &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}
.ma{
  margin: 0 auto;
}
.hidden{
  
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #371818;
  cursor: pointer;
  border: 1px solid #371818;
  transition: all .5s;
  &:hover{
    background-color: #371818;
    color: #fff;
  }
}

.m-b-40{
  margin-bottom: 40px !important;
}

.flex{
  display: flex !important;
}
.ovrfw-hdn {
  overflow: hidden;
}