.pagination {
	margin: 0 auto;
	max-width: 265px;
	a {
		display: inline-block;
		width: 38px;
		height: 38px;
		margin-right: 10px;
		border: 1px solid #371818;
		text-align: center;
		line-height: 38px;
		color: #371818;
		text-decoration: none;
		transition: all .5s;
		&:hover {
			color: #fff;
			background: #371818;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	span {
		display: inline-block;
		width: 38px;
		height: 38px;
		margin-right: 10px;
		border: 1px solid #371818;
		text-align: center;
		line-height: 38px;
		color: #371818;
		text-decoration: none;
		border-color: #ddd;
		color: #ddd;
	}
	a.active {
		color: #fff;
		background: #371818;
	}
}
