.panel {
	@media screen and (max-width: 768px){
		-webkit-transform: translate(-224px, 0);
		   -moz-transform: translate(-224px, 0);
		    -ms-transform: translate(-224px, 0);
		     -o-transform: translate(-224px, 0);
		        transform: translate(-224px, 0);
		-webkit-transition-duration: 0.5s;
		        transition-duration: 0.5s;
	}
	margin: auto;
	width: 224px;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	height: 100%;
	position: fixed;
	z-index: 100;
	padding-top: 70px;
	background-color: #2f0606;
	@media screen and (max-width: 726px) {
		padding-top: 0;
	}
	@media screen and (max-height: 516px) {
		overflow-y:scroll;
	}
	.panel-scroll-wrapper {
		.logo {
			display: block;
			width: 216px;
			height: 209px;
			text-align: center;
			margin-bottom: 60px;
			@media screen and (max-width: 726px) {
				margin: 36px auto 36px auto;
				height: auto;
			}
			img {
				@media screen and (max-width: 726px) {
					width: 65%;
					margin: auto;
				}
			}
		}
		.panel-menu {
			nav {
				a {
					display: block;
					width: 100%;
					height: 63px;
					border-bottom: 1px solid #371818;
					text-align: center;
					font: 14px/63px 'robotoregular';
					color: #fff;
					text-decoration: none;
					cursor: pointer;
					transition: background-color 0.2s;
					&:hover {
						background-color: #371818;
						color: #fff;
					}
					@media screen and (max-height: 726px) {
						height: 50px;
						line-height: 50px;
					}
				}
				a.nav-current {
					background-color: #371818;
					color: #fff;
				}
			}
		}
	}
}
.panel-trigger {
	display: none;
	&+.panel-trigger-icon {
		display: none;
		@media screen and (max-width: 768px){
			display: block;
		}
		width: 40px;
		height: 40px;
		position: fixed;
		top: 16px;
		left: 16px;
		z-index: 101;
		background-color: #371818;
		border-radius: 50%;
		cursor: pointer;
		&:active, &:focus {
			background-color: #542727;
		}
		&:hover {
			span {
				&::before {
					-webkit-transform: translateY(-1px);
					   -moz-transform: translateY(-2px);
					    -ms-transform: translateY(-2px);
					     -o-transform: translateY(-2px);
					        transform: translateY(-2px);
				}
				&::after {
					-webkit-transform: translateY(1px);
					   -moz-transform: translateY(2px);
					    -ms-transform: translateY(2px);
					     -o-transform: translateY(2px);
					        transform: translateY(2px);
				}
			}
		}
		span {
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			width: 16px;
			height: 1px;
			margin: auto;
			background: #fff;
			-webkit-transition: transform 0.5s;
			   -moz-transition: transform 0.5s;
			    -ms-transition: transform 0.5s;
			     -o-transition: transform 0.5s;
			        transition: transform 0.5s;
			&::after, &::before {
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				background: #fff;
				content: "";
			}
			 &::before {
				top: -4px;
				transform-origin: top right;
				-webkit-transition: transform 0.5s, width 0.5s, top 0.5s;
				   -moz-transition: transform 0.5s, width 0.5s, top 0.5s;
				    -ms-transition: transform 0.5s, width 0.5s, top 0.5s;
				     -o-transition: transform 0.5s, width 0.5s, top 0.5s;
				        transition: transform 0.5s, width 0.5s, top 0.5s;
			 }
			&::after {
				bottom: -4px;
				transform-origin: bottom right;
				-webkit-transition: transform 0.5s, width 0.5s, bottom 0.5s;
				   -moz-transition: transform 0.5s, width 0.5s, bottom 0.5s;
				    -ms-transition: transform 0.5s, width 0.5s, bottom 0.5s;
				     -o-transition: transform 0.5s, width 0.5s, bottom 0.5s;
				        transition: transform 0.5s, width 0.5s, bottom 0.5s;
			}
		}
	}
	&~.panel-trigger-close {
		display: none;
	}
	&:checked {
		&~div.panel {
			-webkit-transform: translate(0, 0);
			   -moz-transform: translate(0, 0);
			    -ms-transform: translate(0, 0);
			     -o-transform: translate(0, 0);
			        transform: translate(0, 0);
			-webkit-transition-duration: 0.5s;
			        transition-duration: 0.5s;
		}
		&+.panel-trigger-icon {
			border: 1px solid white;
			box-sizing: border-box;
			span {
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
				&::before{
					width: 50%;
					top: 0;
					-webkit-transform:  translateX(8px) translateY(0) rotate(45deg);
					   -moz-transform:  translateX(8px) translateY(0) rotate(45deg);
					    -ms-transform:  translateX(8px) translateY(0) rotate(45deg);
					     -o-transform:  translateX(8px) translateY(0) rotate(45deg);
					        transform:  translateX(8px) translateY(0) rotate(45deg);
				}
				&::after {
					width: 50%;
					bottom: 0;
					-webkit-transform:  translateX(8px) translateY(0) rotate(-45deg);
					   -moz-transform:  translateX(8px) translateY(0) rotate(-45deg);
					    -ms-transform:  translateX(8px) translateY(0) rotate(-45deg);
					     -o-transform:  translateX(8px) translateY(0) rotate(-45deg);
					        transform:  translateX(8px) translateY(0) rotate(-45deg);
				}
			}
		}
		&~.panel-trigger-close {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
			overflow: hidden;
			background-color: rgba(107, 107, 107, 0.5);
		}
	}
}