
<footer class="footer_typesome">
	<div class="main_typesome">
	<ul>
		<li><span class="tooltip">Facebook</span><a class="fa fa-facebook" href="https://www.facebook.com/pages/Lviv-the-cultural-capital-of-Ukraine/284908541521977"></a></li>
        <li><span class="tooltip">Google</span><a class="fa fa-google-plus" href="https://plus.google.com/u/0/114135228853331313060"></a></li>
        <li><span class="tooltip">Youtube</span><a class="fa fa-youtube" href="https://www.youtube.com/channel/UCjneYqbX7HlqW8SdCfL9ZbQ"></a></li>
        <li><span class="tooltip">VK</span><a class="fa fa-vk" href="https://vk.com/lwow1256"></a></li>
	</ul>
		<hr />
		<p><a href="/">{{@blog.title}}</a> &copy; 2015 &bull; Всі права захищено.</p>
	</div>
</footer>
