{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article>
    <header class="post-header">
        <time>{{date format="DD/MM/YYYY"}}</time>
        <h2>
            <a href="{{url}}">
              {{{title}}}
            </a>
        </h2>
        <div class="tags">{{tags}}</div>
    </header>
    <div class="content">
        <p>{{content words="0"}}</p>
        <p>{{excerpt words="75"}}...</p>
    </div>
    <footer>
        <a href="{{url}}" class="btn">Читати далі</a>
    </footer>
</article>
{{/foreach}}

{{pagination}}
