{{!-- <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span> --}}

<input type="checkbox" id="panel-trigger" class="panel-trigger" />
<label class="panel-trigger-icon" for="panel-trigger"><span></span></label>
<label class="panel-trigger-close" for="panel-trigger"></label>

<div class="panel">
  <div class="panel-scroll-wrapper">
    <a class="logo" href="/">
      <img src="{{asset "img/logo.png"}}" alt="1256.lviv.ua">
    </a>

    <div class="panel-menu">
      <nav>
        <div class="main-nav">
            {{#foreach navigation}}
                <a href="{{url absolute="true"}}" class="{{#if current}}nav-current{{/if}}">{{label}}</a>
            {{/foreach}}
        </div>
      </nav>
    </div>
  </div>
</div>