{{!-- <div class="pagination">
	{{#if prev}}
		<a href="../../">1</a>
		<a href="{{page_url prev}}">&lt;</a>
	{{/if}}
	<a href="{{page_url page}}" class="active">{{page}}</a>
	{{#if next}}
		<a href="{{page_url next}}">&gt;</a>
		<a href="{{page_url pages}}">{{pages}}</a>
	{{/if}}
</div> --}}

<div class="pagination">
	{{#if prev}}
		<a href="../../">1</a>
		<a href="{{page_url prev}}">&lt;</a>
	{{else}}
		<span>1</span>
		<span>&lt;</span>
	{{/if}}
	<a href="{{page_url page}}" class="active">{{page}}</a>
	{{#if next}}
		<a href="{{page_url next}}">&gt;</a>
		<a href="{{page_url pages}}">{{pages}}</a>
	{{else}}
		<span>&gt;</span>
		<span>{{pages}}</span>
	{{/if}}
</div>