<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" href="{{asset "css/common.css"}}" charset="utf-8" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body id="{{body_class}}">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.4&appId=839171886116951";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="layout">
        {{navigation}}

        {{! Everything else gets inserted here }}
        {{{body}}}

        <aside>
            <div class="tags-list">
                <div class="aside-tags">
                    <a class="sviatkovii-lviv" href="/tag/sviatkovii-lviv">
                        <img src="{{asset "img/sviatkovii-lviv.png"}}" alt="">
                        <span>Святковий Львів</span>
                    </a>
                    <a class="transport" href="/tag/transport">
                        <img src="{{asset "img/transport.png"}}" alt="">
                        <span>Транспорт</span>
                    </a>
                    <a class="khrami" href="/tag/khrami">
                        <img src="{{asset "img/khrami.png"}}" alt="">
                        <span>Храми</span>
                    </a>
                    <a class="lieghiendi-lvova" href="/tag/lieghiendi-lvova">
                        <img src="{{asset "img/lieghiendi-lvova.png"}}" alt="">
                        <span>Легенди</span>
                    </a>
                    <a class="ploshchi-lvova" href="/tag/ploshchi-lvova">
                        <img src="{{asset "img/ploshchi-lvova.png"}}" alt="">
                        <span>Площі</span>
                    </a>
                    <a class="vidieo" href="/tag/vidieo">
                        <img src="{{asset "img/vidieo.png"}}" alt="">
                        <span>Відео</span>
                    </a>
                    <a class="parki" href="/tag/parki">
                        <img src="{{asset "img/parki.png"}}" alt="">
                        <span>Парки</span>
                    </a>
                    <a class="riestorani-lvova" href="/tag/riestorani-lvova">
                        <img src="{{asset "img/riestorani-lvova.png"}}" alt="">
                        <span>Ресторани</span>
                    </a>
                    <a class="muzieyi" href="/tag/muzieyi">
                        <img src="{{asset "img/muzieyi.png"}}" alt="">
                        <span>Музеї</span>
                    </a>
                    <a class="vodoimishcha" href="/tag/vodoimishcha">
                        <img src="{{asset "img/vodoimishcha.png"}}" alt="">
                        <span>Водоймища</span>
                    </a>
                    <a class="rozkopki-lvova" href="/tag/rozkopki-lvova">
                        <img src="{{asset "img/rozkopki-lvova.png"}}" alt="">
                        <span>Розкопки</span>
                    </a>
                    <a class="okolitsi-lvova" href="/tag/okolitsi-lvova">
                        <img src="{{asset "img/okolitsi-lvova.png"}}" alt="">
                        <span>Околиці</span>
                    </a>
                    <a class="pamiatniki-lvova" href="/tag/pamiatniki-lvova">
                        <img src="{{asset "img/pamiatniki-lvova.png"}}" alt="">
                        <span>Пам'ятники</span>
                    </a>
                    <a class="ruyini-lvova" href="/tag/ruyini-lvova">
                        <img src="{{asset "img/ruyini-lvova.png"}}" alt="">
                        <span>Руїни</span>
                    </a>
                    <a class="promislovist" href="/tag/promislovist">
                        <img src="{{asset "img/promislovist.png"}}" alt="">
                        <span>Промисловість</span>
                    </a>
                    <a class="vulitsi-lvova" href="/tag/vulitsi-lvova">
                        <img src="{{asset "img/vulitsi-lvova.png"}}" alt="">
                        <span>Вулиці</span>
                    </a>
                    <a class="navchalni-zakladi" href="/tag/navchalni-zakladi">
                        <img src="{{asset "img/navchalni-zakladi.png"}}" alt="">
                        <span>Навчальні заклади</span>
                    </a>
                    <a class="kladovishcha-lvova" href="/tag/kladovishcha-lvova">
                        <img src="{{asset "img/kladovishcha-lvova.png"}}" alt="">
                        <span>Кладовища</span>
                    </a>
                    <a class="photo" href="/tag/photo">
                        <img src="{{asset "img/photo.png"}}" alt="">
                        <span>Фото</span>
                    </a>
                    <a class="vidatni-liudi-lvova" href="/tag/vidatni-liudi-lvova">
                        <img src="{{asset "img/vidatni-liudi-lvova.png"}}" alt="">
                        <span>Видатні люди Львова</span>
                    </a>
                    <a class="architecture" href="/tag/arkhitiektura">
                        <img src="{{asset "img/arkhitiektura.png"}}" alt="">
                        <span>Архітектура</span>
                    </a>
                </div>
            </div>
            <div class="fb-page" data-href="https://www.facebook.com/1256.lviv" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" data-width="344"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/1256.lviv"></blockquote></div></div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- main_page_sidebar -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5051938724103994"
                 data-ad-slot="3253999061"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </aside>

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Lviv }}
    <script type="text/javascript" src="{{asset "js/jquery-2.1.3.min.js"}}"></script>
    <script src="{{asset "js/custom.js"}}"></script>

</body>
</html>
