{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


{{! The main content area on the homepage }}
<main>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
