{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main>
    <a href="/" class="back-button"></a>
    <div class="breadcrumbs">
        <a href="/">Головна</a> /
        <a href="/tag/{{tags.0.slug}}">{{tags.0.name}}</a> /
        <span>{{title}}</span>
    </div>
    <article class="single">
        <header>
          <time>{{date format="DD/MM/YYYY"}}</time>
          <h1>{{title}}</h1>
          <div class="tags">
            {{tags}}
          </div>
        </header>

        <div class="content">
            {{content}}
        </div>
        
        <footer>
          <div class="shared">
            <div>Поділитися з друзями</div>
            <div class="flex">
              <ul class="social">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                </a>
                <a href="http://vk.com/share.php?url={{url absolute="true"}}" onclick="window.open(this.href, 'vk-share','width=580,height=296');return false;"></a>
                <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                </a>
                <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">

                <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st.s=1&amp;st._surl={{url absolute="true"}}"
                   onclick="window.open(this.href, 'odnoklassniki-share', 'width=600,height=530');return false;">
              </ul>
            </div>
          </div>
        </footer>
    </article>
</main>

{{/post}}
