@font-face {
  font-family: 'robotolight';
  src: url('fonts/roboto-light.eot');
  src: url('fonts/roboto-light.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-light.woff2') format('woff2'), url('fonts/roboto-light.woff') format('woff'), url('fonts/roboto-light.ttf') format('truetype'), url('fonts/roboto-light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('fonts/roboto-medium.eot');
  src: url('fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-medium.woff2') format('woff2'), url('fonts/roboto-medium.woff') format('woff'), url('fonts/roboto-medium.ttf') format('truetype'), url('fonts/roboto-medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('fonts/roboto-regular.eot');
  src: url('fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-regular.woff2') format('woff2'), url('fonts/roboto-regular.woff') format('woff'), url('fonts/roboto-regular.ttf') format('truetype'), url('fonts/roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.ma {
  margin: 0 auto;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #371818;
  cursor: pointer;
  border: 1px solid #371818;
  transition: all .5s;
}
.btn:hover {
  background-color: #371818;
  color: #fff;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.flex {
  display: flex !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html,
body {
  height: 100%;
  background: #fff;
}
body {
  font: 14px/23px 'robotoregular';
}
body .layout {
  min-width: 1230px;
  max-width: 1367px;
  min-height: 100%;
  margin: 0 auto;
}
body .layout aside {
  float: right;
  width: 344px;
  padding-top: 25px;
}
body .layout main {
  position: relative;
  margin: 0 344px 0 224px;
  padding: 25px 32px 50px;
}
ul {
  list-style: none;
}
article {
  border-bottom: 1px solid #bababa;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
article header time {
  font-family: 'robotolight';
  color: #ababab;
}
article header h1,
article header h2 {
  margin-bottom: 5px;
}
article header h1,
article header h2 a,
article header h3 a {
  margin-top: 9px;
  font: 28px/38px 'robotomedium';
  color: #4e4e4e;
  text-decoration: none;
}
article header h2 a:hover,
article header h3 a:hover {
  text-decoration: underline;
}
article header .tags a {
  font-family: 'robotolight';
  color: #ababab;
  margin-right: 15px;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}
article header .tags a:hover {
  text-decoration: underline;
  color: #371818;
}
article .content {
  color: #666;
  margin-bottom: 24px;
}
article .content img {
  width: 65%;
}
article .content p {
  margin-bottom: 22px;
}
article footer .info {
  border: 1px solid #adadad;
  width: 110px;
  margin-top: 30px;
  padding: 0 10px;
}
article footer .info .comments {
  padding-left: 25px;
  display: inline-block;
  background: url("../img/icons.png") 0 -188px no-repeat;
  text-decoration: none;
  color: #ababab;
  margin-right: 20px;
}
article footer .info .votes {
  color: #ababab;
  display: inline-block;
}
article footer .info .votes span {
  display: inline-block;
  width: 15px;
  height: 20px;
  cursor: pointer;
  background: url("../img/icons.png") 0 -234px no-repeat;
}
article footer .info .votes span.dislike {
  background-position: 0 -260px;
}
article.popular {
  padding-bottom: 23px;
  margin-bottom: 23px;
}
article.popular header {
  margin-bottom: 0;
}
article.popular header h3 a {
  font-size: 16px;
  line-height: 22px;
}
article.popular:last-child {
  border-bottom: none;
}
article.single header {
  margin-bottom: 22px;
}
article.single header h1 {
  font: 32px/42px 'robotolight';
}
article.single .content {
  font-size: 16px;
  line-height: 23px;
}
article.single .content img {
  width: 100%;
}
article.single footer .shared div {
  font: 18px/30px 'robotolight';
  color: #999;
  margin-bottom: 20px;
}
article.single footer .shared .social {
  flex: 2;
}
article.single footer .shared .social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("../img/icons.png") 14px -399px no-repeat;
  border: 1px solid #c0c0c0;
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}
article.single footer .shared .social a:nth-child(2) {
  background-position: 14px -327px;
}
article.single footer .shared .social a:nth-child(3) {
  background-position: 14px -362px;
}
article.single footer .shared .social a:nth-child(4) {
  background-position: 14px -461px;
}
article.single footer .shared .social a:nth-child(5) {
  background-position: 14px -494px;
}
article.single footer .shared .favourite {
  flex: 1;
  height: 45px;
  border: 1px solid #c0c0c0;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  padding: 0 25px;
  font: 14px/30px 'robotoregular';
  color: #ababab;
}
